include ../functionScript/toastr
include ../functionScript/createSuggestion


mixin EditSuggestion(infoCategory, infoIcon, suggestion, ownPermission)

    .default-wrapper#storedData(data-categories=infoCategory,
    data-icons=infoIcon,
    data-specific-info=suggestion.extraInfo)

        input(type='hidden', id='suggestionName', value=suggestion.name)

        

        .form-inline.form-group
            input.form-control(type='text', id='selectCategory', value=suggestion.category, readonly="readonly", style="width:115px")

            if (ownPermission)
                include ../mixin/addLinkBtn
                +AddLinkBtn()

        div#LinkDiv
            -for (var key in suggestion.link) {
                if (suggestion.link.hasOwnProperty(key))
                    .input-group.form-group
                        .input-group-prepend
                            .input-group-text Url
                        input.form-control(name="url", placeholder="Url", value=suggestion.link[key])
                        if (ownPermission)
                            .input-group-append
                                input.btn.btn-danger(type="button", value="X", onclick="DeleteUrl(this)")
            -}

        div#SpecificInfoDiv

        .input-group.form-group
            .input-group-prepend
                .input-group-text Tag
            textarea.form-control(id="suggestionTag", readonly="readonly") #{suggestion.tag}

        if (ownPermission)
            button.form-group.btn.btn-primary.btn-block(id="btnEditSuggestion", value=suggestion._id, onclick="EditSuggestion(this)", style="margin-left: auto") Edit Suggestion
        if (ownPermission == 2)
            button.form-group.btn.btn-danger.btn-block(id="btnDeleteSuggestion", value=suggestion._id, onclick="DeleteSuggestion(this)", style="margin-left: auto") Delete Suggestion

    script.
        $(document).ready(function() {
            var category = document.getElementById("selectCategory")
            var permission = document.getElementById("ownPermission")
            console.log(permission)
            AddSpecificInfoFields(category)
            FillSpecificInfoFields(category)
            if(permission.value==0){
                DisableSpecificInfoFields(category)
            }
        });

        function FillSpecificInfoFields(index){
            var categories = $("#storedData").data("categories");
            var category = categories[index.value]

            var suggestionExtraInfo = $("#storedData").data("specific-info");

            for (info in category.specificInfo){
                document.getElementById(info).value = suggestionExtraInfo[info]
                
            }


            
        }

        function DisableSpecificInfoFields(index){

            var categories = $("#storedData").data("categories");
            var category = categories[index.value]

            for (info in category.specificInfo){
                document.getElementById(info).setAttribute("disabled", "true")
                
            }

            removeVerify = document.getElementById("verifyBtn")
            if (removeVerify)
                removeVerify.remove();

            var urls = document.getElementsByName("url");
            for (var i = 0; i < urls.length;i++){
                urls[i].setAttribute("disabled", "true")
            }
                    
        }

    // To POST (Edit Suggestion)
    script.
        function EditSuggestion(index){

            var link = urlToLinkJSON("url")

            var category = document.getElementById("selectCategory")
            var extraInfo = CreateJSONExtraInfo(category.value)
            var tag = CreateJSONTag(category.value)

            $.post("/edit_suggestion",{link:link, suggestionId:index.value,
            extraInfo: extraInfo, tag:tag}, function(data){
                
                Toastr(data.message, data.type)
            });
        }

        function DeleteSuggestion(index){


            $.post("/delete_suggestion",{suggestionId:index.value}, function(data){
                

                Toastr(data.message, data.type)
            });
        }