mixin IconUrl(infoIcon, icon, url)
    -icon = icon.replace(/\d+/g,'')
    a(href=url, target="_blank", style=infoIcon[icon].color).margin
        span(class=infoIcon[icon].fontAwesome, style=infoIcon[icon].size)
        | #{""}