script(src="/scripts/message.js")
script(src="/scripts/checkrating.js")

include mixin_bookmark.pug
include mixin_dontshow.pug

mixin ReviewSuggestion(suggestion, i, ownId, bookmark)

    input(type='hidden', id='suggestionid'+i, value=suggestion._id)
    -var ratingValue = ""
    //-var commentValue = ""
    -var btnInnerHTML = "Rate"
    if (suggestion.userRating[ownId])
        - ratingValue = suggestion.userRating[ownId]
        //- commentValue = suggestion.userComment[ownId]
        - btnInnerHTML = "Change"
    td(data-sort=ratingValue)
        input.form-control.margin(type='number', id='rating'+i, min="0", max = "10", step="0.1", value = ratingValue, placeholder="Rating", onkeyup="CheckRating(this)")
    //td
        input.form-control.margin(type='text', id='comment'+i, value=commentValue, placeholder= "Your commentary")
    td
        button.btn.btn-primary.btn-block.margin(id="btn"+i, value=i, onclick="ReviewSuggestion(this)", style="margin-left: auto") #{btnInnerHTML}
    td
        +Bookmark(suggestion._id, i, bookmark)
        +Dontshow(suggestion._id, i)

script.
    function ReviewSuggestion(index){
        
        var target_id = document.getElementById("suggestionid"+index.value);
        console.log(target_id.value)
        var rating = document.getElementById("rating"+index.value);

        $.post("/review_suggestion",{target_id:target_id.value, rating:rating.value}, function(data){
            
            if (data.success){
                if (rating.value != "")
                    document.getElementById("btn"+index.value).innerHTML = "Change"
                else
                    document.getElementById("btn"+index.value).innerHTML = "Rate"


                if (window.location.pathname == '/suggestionlist' && !window.location.search){
                    $(index).parents("tr").fadeOut(300)
                }
                else{
                    $(index).parents("tr").fadeOut(300).fadeIn(300)
                }
            }

            //Message(data.message)
        });
    }