mixin Suggestiontable(targetUserId, suggestion, infosys, ownUser)
    
    include include_datatable.pug

    include mixin_ratingtocolor.pug

    include mixin_rating.pug

    include mixin_reviewsuggestionform.pug

    script.
        $(document).ready(function() {
            $('#suggestiontable').DataTable( {
                "language": {
                "emptyTable": "No suggestions"
                },
                "ordering": true,
                "order": [[2, "desc"]],
                "paging": false,
                "info": false,
            });
        });
    
    .default-table-wrapper(style="max-height:60vh")
        table#suggestiontable.default-table.compact.row-border
            thead
                tr
                    th Name
                    th Link
                    if (targetUserId)
                        th #{infosys.usernames[targetUserId]} Rating
                        th #{infosys.usernames[targetUserId]} Comment
                    else
                        th Friends
                        th All Users
                    th Your Rating
                    //th Your Comment
                    th Review
                    th Action
            tbody
                - for(var i = 0; i < suggestion.length; i++){
                    tr
                        td
                            a(href='/suggestion/'+ suggestion[i]._id, id="suggestionhref"+i) #{suggestion[i].name}
                        td
                            -for (var key in suggestion[i].link) {
                                if (suggestion[i].link.hasOwnProperty(key))
                                    a(href=suggestion[i].link[key], target="_blank", style=infosys.types[key].color).margin
                                        span(class=infosys.types[key].fontAwesome, style=infosys.types[key].size)
                                        | #{""}
                            -}
                        if (targetUserId)
                            if (suggestion[i].userRating[targetUserId])
                                td(data-sort=suggestion[i].userRating[targetUserId])
                                    +RatingToColor(suggestion[i].userRating[targetUserId])
                            else
                                td(data-sort="#")
                                    | #
                            td
                                | #{suggestion[i].userComment[targetUserId]}
                        else
                            
                            
                            +Rating(true, suggestion[i], ownUser)
                             
                            +Rating(false, suggestion[i], ownUser)
                        
                        +ReviewSuggestion(suggestion[i], i, ownUser._id, ownUser.bookmark)
                -}