extends layout/in

block content
    
    include mixin/userTable

    .default-table-wrapper
        h1 #{infoUsername[usersId[0]]}

        p #{userDescription}
        
        if (userUrl && userUrl.indexOf("//") == -1)
            - userUrl = "//"+userUrl
        a(href=userUrl, target="_blank") #{userUrl}

        br
        br

        table#usertable.default-table.compact.row-border
            thead
                tr  
                    -for(var category in infoCategory){
                        th #{category} Coeficient
                    -}
                    th Action
            tbody
                - for (var i = 0; i < usersId.length; i++)
                    tr
                        -for(var category in infoCategory){
                            if ((ownUser.correlation[usersId[i]]) && (ownUser.correlation[usersId[i]][category]))
                                td(data-correlation= ownUser.correlation[usersId[i]][category])
                                    +RatingIcon(i + "-" + category, "UserCorrelation")
                            else
                                td
                                    +RatingIcon(i + "-" + category, "Sharp")
                        -}
                        td
                            +ActionUser(usersId[i], ownUser, ownPermission, infoPermission)

    include mixin/suggestionTable
    +Suggestiontable(usersId[0], suggestion, infoIcon, infoUsername, ownUser)
    