doctype html
html
	head
		title= title

		include ../dependency/all

		.menu-bar.form-inline(style="overflow: visible")
			a(href="/friendlist", class="btn btn-outline-primary").margin
				| #{""} Friends
			a(href="/suggestionlist", class="btn btn-outline-primary", style="margin-left: 20px").margin
				| #{""} Suggestions
			form(action='/suggestionlist', method='get', style="margin-left: auto").margin
				.input-group
					input.form-control(type='text', name='search_name', placeholder='Suggestion')
					.input-group-append
						button(type="submit" class="btn btn-outline-primary")
							span.fas.fa-search
							| #{""}
			form(action='/userlist', method='get', style="margin-left: auto").margin
				.input-group
					input.form-control(type='text', name='search_name', placeholder='User')
					.input-group-append
						button(type="submit" class="btn btn-outline-primary")
							span.fas.fa-search
							| #{""}
			select.form-control.margin(data-category=userCategory, id="userCategory", style="margin-left:auto", onChange="UserCategory(this)")
				-for(var i = 0; i < categories.length;i++){
					-if (categories[i] == userCategory)
						option(value=categories[i], selected) #{categories[i]}
					-else
						option(value=categories[i]) #{categories[i]}
				-}
			- if (userPermission)
				input(type="hidden", id="userPermission", value=userPermission)
			a(href="/account", class="btn btn-outline-secondary", style="margin-left: auto").margin
				span.fas.fa-cog
				| #{""}
			a(href="/bookmarklist", style="margin-left: auto").margin
				span.fas.fa-bookmark
			a(href="/dontshowlist", style="margin-left: auto").margin
				span.fas.fa-times
			a(href="/logout", class="btn btn-danger", style="margin-left: auto").margin
				span.fas.fa-sign-out-alt
				| #{""}

		include ../mixin/message
		+Message(message)

		script.
			function UserCategory(index){
				$.post("/user_category",{category:index.value}, function(data){
                
					if (data.success){
						console.log(window.location.pathname)
						if (window.location.pathname == '/suggestionlist' || 
						window.location.pathname == '/bookmarklist' || 
						window.location.pathname == '/dontshowlist' || 
						window.location.pathname.includes('/user/')){
							window.location.reload();
						}
					}
				});
			}

		block content


